body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.rodape{
    position: relative;
}

.principal{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
}

.linha{
    display: flex;
    background-color:#ffbd59;
    width: 100%;
    padding: 80px 20px;
    box-sizing: border-box;
    align-items:center;
}

.linha img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 10vw;
}

.bloco_cadastro{
    display: flex;
    background-color: #b35a00;
    flex-direction: column;
    padding: 2vw;
    padding-bottom: 5vh;
    gap: 15px;
    width: 40vw;
    height: 60vh;
    border-radius: 8px;
    box-sizing: border-box;
    justify-content: center;
}

.bloco_cadastro input:first-child{
    width: 100%;
    box-sizing: border-box;
}

.bloco_cadastro input{
    border: none;
    border-radius: 8px;
    padding: 15px 18px;
    font-size: 16px;
}

.bloco_cadastro legend{
    color: white;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.bloco_cadastro button{
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.voltar img{
    width: 50px;
    height: 50px;
}

.voltar a {
    text-decoration: none;
    margin-left: -10px;
    font-size: 19px;
    color: #ffbd59;
    font-weight: bold;
}
